* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: #EEE;
    /* center */

}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 170px;
    height: 170px;
    float: left;
    background: #D26;
    border: 0px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px transparent;
    /*overflow: hidden;*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.grid-item--height2 { height: 170px; width:360px; }
.grid-item--height3 { height: 360px; width:360px; }








.azul1{
    background: #0094DB;
}
.azul1:hover{
    background: #007DB8;
}

.azul2{
    background: #5A8BC9;
}
.azul2:hover{
    background: #3C72B9;
}


.azul3{
    background: #0060AE;
}
.azul3:hover{
    background: #004F8F;
}


.azul4{
    background: #292C95;
}
.azul4:hover{
    background: #1F2170;
}

.verde1{
    background: #91CE18;
}
.verde1:hover{
    background: #74A413;
}


.verde2{
    background: #A7CE3B;
}
.verde2:hover{
    background: #90B42D;
}

.verde3{
    background: #00A648;
}
.verde3:hover{
    background: #007A35;
}

.verde4{
    background: #7DC242;
}
.verde4:hover{
    background: #6CA937;
}

.amarelo1{
    background: #FFCA00;
}
.amarelo1:hover{
    background: #E0B400;
}

.amarelo2{
    background: #FFCB05;
}
.amarelo2:hover{
    background: #E0B400;
}

.laranja1{
    background: #F58220;
}
.laranja1:hover{
    background: #EA730B;
}

.vermelho1{
    background: #FF141E;
}
.vermelho1:hover{
    background: #F5000C;
}

.lilas1{
    background: #A54686;
}
.lilas1:hover{
    background: #8F3D74;
}


.lilas2{
    background: #BC1C91;
}
.lilas2:hover{
    background: #A0187C;
}

.branco2{
    background: #ffffff;
}
.branco2:hover{
    background: #F5F5F5;
}


.grow img {
    -webkit-filter: brightness(85%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.grow img:hover {
    -webkit-filter: brightness(100%);
}