

#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.pinboards img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 4px solid #000000;
}
.white-panel {
    position: absolute;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 0px;
    color: #000000;
    border: 4px solid #000000;
    background: #ffc908;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



#pinBoot a:link, #pinBoot a:visited, #pinBoot a:hover, #pinBoot a:focus {
    color: #000000;
    text-decoration: none;
}

.pinboards .btn-default {
    color: #000;
    border: 4px solid #000000;
    background: #ffc908;
}

.white-panel h4{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
}

.white-panel p {
    margin-left-left: 10px !important;
    margin-right-right: 10px !important;
    margin-bottom: 10px;
    line-height: 1.1;
}
.white-panel p.lead1 {

    margin-left: 10px;
    margin-right: 10px;
}