.expand-transition {
    transition: all 1s ease;
}

.expand-enter, .expand-leave {
    height: 0;
    opacity: 0;
}

.heading-2 {
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 35px;
    letter-spacing: -2px;
}

div.congressman-info { position: relative; }

div.congressman-info img { z-index: 1; }

div.congressman-info div {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    padding: 4px;
    height: 42px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
}

div.congressman-info div.blackbg {
    z-index: 2;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

div.congressman-info div.label {
    z-index: 3;
    color: white;
    font-size: 0.7vw;
}

.city-name {
    font-size: 0.6vw;
    font-weight: 100;
}


/* Video */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 130px;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    background: url(../files/apps/parlamentojuvenil/site/videobackground.jpg);
}

.calendar-title {
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 1px;
}

.about-section {
    border-bottom: solid;
    border-color: #a2a2a2;
    border-width: 1px;
    padding: 40px;
}

.no-border {
    border: none !important;
}

.more-videos {
    color: white;
    text-decoration: none;
    border-color: black;
    border-width: 3px 3px 3px 3px;
    margin-top: -5px;
    border-radius: 0px 0px 8px 8px;
}

.youtube-home {
    margin-top: 50px;
}

#old-news, .old-news {
    background: #282c30 !important;
    color: #d1d1d1;
}

.article-date {
    font-size: 10px;
}

.article-heading {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 800;
    line-height: 0;
}

.article-image {
    padding-bottom: 5px;
}

.article-subheading {
    font-size: 13px;
    line-height: 0;
}

.form-control-feedback {
    top: 0;
    right: 10px;
}
