// My variable overrides

$primary: #003366;
$secondary: #f63;


$blue-darker100: #040810;
$blue-darker75: #091120;
$blue-darker50: #0d1930;
$blue-darker25: #122140;

$blue: #172B53;

$blue-lighter95: #1a3260;
$blue-lighter90: #1f3a70;
$blue-lighter85: #234280;
$blue-lighter80: #274a90;
$blue-lighter75: #2c53a0;

$blue-lighter70: #305bb0;
$blue-lighter65: #3563c0;
$blue-lighter60: #3f6dca;
$blue-lighter55: #4f79cf;
$blue-lighter50: #5f86d3;

$blue-lighter45: #6f92d8;
$blue-lighter40: #7f9edc;
$blue-lighter35: #8faae0;
$blue-lighter30: #9fb6e5;
$blue-lighter25: #afc2e9;

$blue-lighter20: #bfceed;
$blue-lighter15: #cfdbf2;
$blue-lighter10: #def7f6;
$blue-lighter05: #eff3fb;


$grey-light01: #f3f7f9;
$grey-light02: #e8eff3;
$grey-light03: #dce8ee;
$grey-light04: #d1e0e8;
$grey-light05: #c6d9e2;
$grey-light06: #bad1dd;
$grey-light07: #afcad7;
$grey-light08: #a4c2d1;
$grey-light09: #98bbcc;




$grey-dark01: #546975;
$grey-dark02: #18272e;


$grey-dark004: #b8c5cc;






























// OLD VARIABLES -----------------------------------------

/*

// Body
$body-bg: #f3f7f9;






// Typography
$font-family-sans-serif: 'Raleway' ,"Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;





// Colors
!*$blue: #3490dc;*!




// Colors - Blue Shades -----------------------------------------



$blue-link: #4099de;


$blue-darker100: #040810;
$blue-darker75: #091120;
$blue-darker50: #0d1930;
$blue-darker25: #122140;

$blue: #172B53;

$blue-lighter95: #1a3260;
$blue-lighter90: #1f3a70;
$blue-lighter85: #234280;
$blue-lighter80: #274a90;
$blue-lighter75: #2c53a0;

$blue-lighter70: #305bb0;
$blue-lighter65: #3563c0;
$blue-lighter60: #3f6dca;
$blue-lighter55: #4f79cf;
$blue-lighter50: #5f86d3;

$blue-lighter45: #6f92d8;
$blue-lighter40: #7f9edc;
$blue-lighter35: #8faae0;
$blue-lighter30: #9fb6e5;
$blue-lighter25: #afc2e9;

$blue-lighter20: #bfceed;
$blue-lighter15: #cfdbf2;
$blue-lighter10: #def7f6;
$blue-lighter05: #eff3fb;



$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$hard-grey: #C7CCD6;
$white: #ffffff;



!*

$grey-light01: #f3f7f9;
$grey-light02: #ebf1f3;
$grey-light03: #dae4e9;

*!







$grey-light01: #f3f7f9;
$grey-light02: #e8eff3;
$grey-light03: #dce8ee;
$grey-light04: #d1e0e8;
$grey-light05: #c6d9e2;
$grey-light06: #bad1dd;
$grey-light07: #afcad7;
$grey-light08: #a4c2d1;
$grey-light09: #98bbcc;







$grey-dark01: #546975;
$grey-dark02: #18272e;


$grey-dark004: #b8c5cc;

*/
