body {
  background: #ffc400 !important;
}

h2 {
  font-family: 'Bangers', cursive;
}

.masthead{
  h2 {
    font-family: 'Bangers', cursive;
    font-size: 4.75em;
  }
}


.bg-secondary {
  background: #ffc400 !important;
}






.banner-001 {
  background: url("/templates/2020/assets/img/fundo_banner_001.jpg");
}















.container-fluid.instagram-images {
  padding: 0px;

  .col-md-3 {
    padding: 0px;
  }
}