.masonry-pj {
    padding-top: 30px;
    /*padding-bottom: 50px;*/
    /*background: #eeeeee;*/
}

/* ---- grid ---- */

.grid {
    /*background: #EEE;*/
    /* center */

}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 176px;
    height: 176px;
    float: left;
    background: #D26;
    border: 0px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px transparent;
    /*overflow: hidden;*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.grid-item--height2 { height: 176px; width:372px; }
.grid-item--height3 { height: 372px; width:372px; }



.grid-item--height5 { height: 85px;  }
.grid-item--height6 { height: 65px;  }





.azul1{
    background: #0094DB;
}
.azul1:hover{
    background: #007DB8;
    color: #fff;
}

.azul2{
    background: #5A8BC9;
}
.azul2:hover{
    background: #3C72B9;
    color: #fff;
}


.azul3{
    background: #0060AE;
    color: #fff;
}
.azul3:hover{
    background: #004F8F;
    color: #fff;
}


.azul4{
    background: #292C95;
    color: #fff;
}
.azul4:hover{
    background: #1F2170;
    color: #fff;
}

.verde1{
    background: #91CE18;
    color: #fff;
}
.verde1:hover{
    background: #74A413;
    color: #fff;
}


.verde2{
    background: #A7CE3B;
}
.verde2:hover{
    background: #90B42D;
    color: #fff;
}

.verde3{
    background: #00A648;
}
.verde3:hover{
    background: #007A35;
    color: #fff;
}

.verde4{
    background: #7DC242;
}
.verde4:hover{
    background: #6CA937;
    color: #fff;
}

.amarelo1{
    background: #FFCA00;
    color: #292C95;
}
.amarelo1:hover{
    background: #E0B400;
    color: #292C95;
}

.amarelo2{
    background: #FFCB05;
}
.amarelo2:hover{
    background: #E0B400;
}

.laranja1{
    background: #F58220;
}
.laranja1:hover{
    background: #EA730B;
}
.laranja2{
    background: #FF8100;
}

.vermelho1{
    background: #FF141E;
}
.vermelho1:hover{
    background: #F5000C;
}

.lilas1{
    background: #A54686;
}
.lilas1:hover{
    background: #8F3D74;
}


.lilas2{
    background: #BC1C91;
}
.lilas2:hover{
    background: #A0187C;
}

.branco2{
    background: #ffffff;
}
.branco2:hover{
    background: #F5F5F5;
}

.roxo01 {
    background: #BC1C91 !important;
}
.amarelo01 {
    background: #FFF000 !important;
}
.amarelo02 {
    background: #ffca08 !important;
}

.laranja01 {
    background: #f58320 !important;
}
.verde01 {
    background: #17a84b !important;
    color: #fff;
}
.verde01:hover {
    background: #117E39 !important;
    color: #fff;
}

.azul01 {
    background: #292C95 !important;
}
.txt-roxo01 {
    color: #BC1C91 !important;
}

.txt-amarelo01 {
    color: #FFF000 !important;
}

.txt-amarelo02 {
    color: #ffca08 !important;
}
.txt-laranja01 {
    color: #f58320 !important;
}

.txt-verde01 {
    color: #17a84b !important;
}

.txt-azul01 {
    color: #292C95 !important;
}



.grow img {
    -webkit-filter: brightness(85%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.grow img:hover {
    -webkit-filter: brightness(100%);
}



button.btn.btn-default.btfundo {
    background: #cfa504;
    color: #fff;
    border-radius: 0;
}
/*



.masonry-overflow {
    position: absolute;
}


.masonry-pj {
    text-align: center;
    background: #f2f2f2;
    color: white;
}

.masonry-overflow {
    position: absolute;
}


.masonry10{
    bottom: -20px;
    max-width: 100%;
}

.masonry07{
    bottom: -20px;
    max-width: 100%;
    right: -6px;
}

.masonry08 {
    right: 0;
    bottom: -20px;
}


.inscrevase.form-group {
    position: absolute;
    bottom: -16px !important;
    left: 0;
    width: 100%;
    border: 3px solid #cfa504;
}

.masonry-big {
    bottom: -21px;
    right: -15px;
    z-index: 99;
}

.masonry11 {
    bottom: -20px;
    z-index: 999;
}

.masonry-big {
    bottom: -21px;
    right: -15px;
    z-index: 99;
}



.masonry-pj img {
    display: block;
    margin: 0 auto 20px;
}


*/


img.masonry-padding.img-responsive {
    max-width: 100%;
    padding: 10px 20px;
}




.masonry-overflow {
    position: absolute;
}


.masonry10{
    bottom: 0px;
    max-width: 100%;
}

.masonry07{
    bottom: 0px;
    max-width: 100%;
    right: -6px;
}

.masonry08 {
    right: 0;
    bottom: 0px;
}




.masonry-big {
    bottom: -1px;
    right: -15px;
    z-index: 99;
}

.masonry11 {
    bottom: 0px;
    z-index: 99;
}



img.masonry-padding.paddingtop40.masonry-informacoes {
    padding-top: 40px;
}

