


/*************************
******TIMELINE CSS****
**************************/

section#timeline-container {
    border-bottom: 10px solid #292C95 ;
}

section#timeline-container h2 {
    background: #292C95;
    color: #fff;
    text-align: center;
    padding: 30px 0 30px 0;
    margin: 0;
    font-family: 'five_boroughs';
    letter-spacing: 3px;

}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-bottom: 30px;
    font-family: 'Open Sans', Sans-serif;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 6px;
    /*background-color: #eeeeee;*/
    background-color: #292C95;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel-border {
    width: 46%;
    float: left;
    /*border: 4px solid #292C95;*/
/*    border-radius: 2px;*/
    padding: 10px;
    position: relative;
/*    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
    /*background: rgba(11, 102, 170, 0.5);*/
    background-color: white;
    color: #292C95;
}

/*.timeline > li > .timeline-panel-border:before {
    position: absolute;
    top: 26px;
    right: -19px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #292C95;
    border-right: 0 solid #292C95;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel-border:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}*/

.timeline-panel-body {
    /*height: 100%;*/
    min-height: 125px;
    padding: 15px 10px;
    color: #ffffff;
}

.timeline-date {
    font-family: 'oswaldregular';
    position: absolute;
    width: 90px;
    height: 90px;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    color: #ffffff;
}

.timeline-date p {
    margin: 0 0 0px;
    font-size: 50px;
}

.timeline-month {
    font-size: 22px !important;
    text-transform: uppercase;
    margin-top: -12px !important;
}


.date-right {
    right: 0px;
    top: 0px;
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.4);
    box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.4);
}

.date-left {
    left: 0px;
    top: 0px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.4);
}


.timeline > li > .timeline-bullet {
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -12.5px;
    /*background-color: #999999;*/
    z-index: 100;
    /*border-top-right-radius: 50%;*/
    /*border-top-left-radius: 50%;*/
    /*border-bottom-right-radius: 50%;*/
    /*border-bottom-left-radius: 50%;*/
    /*border: 4px #292C95 solid;*/
    background-color: #FFC908;

}

.timeline > li > .timeline-end {
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -12.5px;
    /*background-color: #999999;*/
    z-index: 100;
    /*border-top-right-radius: 50%;*/
    /*border-top-left-radius: 50%;*/
    /*border-bottom-right-radius: 50%;*/
    /*border-bottom-left-radius: 50%;*/
    /*border: 4px #292C95 solid;*/
    background-color: #b21416;
}

.timeline > li.timeline-inverted > .timeline-panel-border {
    float: right;
    /*text-align: right !important;*/
}


.timeline > li.timeline-inverted > .timeline-panel-border:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -19px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel-border:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}


.timeline > li.timeline-inverted > .timeline-panel-border > .timeline-panel-body {
    padding-left: 100px;
}



.timeline-bullet.primary {
    background-color: #2e6da4 !important;
}

.timeline-bullet.success {
    background-color: #3f903f !important;
}

.timeline-bullet.warning {
    /*background-color: #0a589c !important;*/
    background-color: #FFC908;
}

.timeline-bullet.danger {
    background-color: #d9534f !important;
}

.timeline-bullet.info {
    /*background-color: #01426a !important;*/
    background-color: #FFC908;
}

.timeline-panel-title {
    margin-top: 0;
    color: inherit;
    font-size: 26px;
    text-transform: uppercase;
    max-width: 356px;
}



.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel-border {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-bullet {
        left: 28px;
        margin-left: 0;
        top: 30px;
    }

    ul.timeline > li > .timeline-panel-border {
        float: right;
    }

/*    ul.timeline > li > .timeline-panel-border:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -19px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel-border:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }*/
}








#countdown {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin-top: 25px;

}

#countdown li {
    list-style: none;
    display:inline-block;
    margin-right: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
}

#countdown li p{
    font-size: 12px;
}

#countdown li:last-child {
    margin-right: 0
}

#countdown li span {
    display: block;
    font-size: 34px;
    font-weight: 400;
    height: 64px;
    line-height: 63px;
    width: 66px;
    /* border-radius: 10px; */
    border-right: 1px solid #9e3e2e;
    border-bottom: 1px solid #9e3e2e;
    background: #ffffff;
    color: #293394;

}

#countdown li .days {
    background-color: #45b29d;
    border: 4px black solid;
    /*border-top: 1px solid #6ac1b1;*/
    /*border-left: 1px solid #6ac1b1;*/
}

#countdown li .hours {
    background-color: #efc94c;
    border: 4px black solid;
    /*border-top: 1px solid #f2d470;*/
    /*border-left: 1px solid #f2d470;*/
}

#countdown li .minutes {
    background-color: #e27a3f;
    border: 4px black solid;
    /*border-top: 1px solid #e89565;*/
    /*border-left: 1px solid #e89565;*/
}

#countdown li .seconds {
    background-color: #df5a49;
    border: 4px black solid;
    /*border-top: 1px solid #e57b6d;*/
    /*border-left: 1px solid #e57b6d;*/
}

#countdown li:before {
    /*background-color: #FFFFFF;*/
    /*content: "";*/
    /*height: 11px;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 36px;*/
    /*width: 1px;*/
}

#countdown li:after {
    /*background-color: #FFFFFF;*/
    /*content: "";*/
    /*height: 11px;*/
    /*right:0;*/
    /*position: absolute;*/
    /*top: 36px;*/
    /*width: 1px;*/
}





